{% include 'overall_header.html' %}

<h1>{{ lang('ACP_DISPLAYONLYFIRSTPOST_TITLE') }}</h1>

{% if S_ERROR %}
  <div class="errorbox">
    <h3>{{ lang('WARNING') }}</h3>
    <p>{{ ERROR_MSG }}</p>
  </div>
{% endif %}

{% if not W3ALL_DISPLAYONLYFIRSTPOST_U_GROUPS or not W3ALL_DISPLAYONLYFIRSTPOST_FORUMS_IDS %} 
<div class="errorbox notice">{{ lang('ACP_DISPLAYONLYFIRSTPOST_NOTES') }}</div>
{% endif %}

<form id="w3all_displayonlyfirstpost" name="w3all_displayonlyfirstpost" method="post" action="{{ U_ACTION }}">

  <fieldset>
    <legend>{{ lang('SETTINGS') }}</legend>
    <dl>
      <dt><label>{{ lang('ACP_DISPLAYONLYFIRSTPOST_GROUPS_IDS') ~ lang('COLON') }}</label></dt>
      <dd><label><input type="text" name="w3all_displayonlyfirstpost[u_groups]" value="{W3ALL_DISPLAYONLYFIRSTPOST_U_GROUPS}"  /></label>
    </dl>

    <dl>
      <dt><label>{{ lang('ACP_DISPLAYONLYFIRSTPOST_FORUMS_IDS') ~ lang('COLON') }}</label></dt>
      <dd><label><input type="text" name="w3all_displayonlyfirstpost[forums_ids]" value="{W3ALL_DISPLAYONLYFIRSTPOST_FORUMS_IDS}" /></label>
    </dl>

    <dl>
      <dt><label>{{ lang('ACP_DISPLAYONLYFIRSTPOST_REP_MODE') ~ lang('COLON') }}</label></dt>
      <dd><label><input type="radio" class="radio" name="w3all_displayonlyfirstpost[rep_mode]" value="1"{% if W3ALL_DISPLAYONLYFIRSTPOST_REP_MODE %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
        <label><input type="radio" class="radio" name="w3all_displayonlyfirstpost[rep_mode]" value="0"{% if not W3ALL_DISPLAYONLYFIRSTPOST_REP_MODE %} checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
    </dl>
    
    <dl>
      <dt><label>{{ lang('ACP_DISPLAYONLYFIRSTPOST_REP_CONTENT') ~ lang('COLON') }}</label></dt>
      <dd><label><textarea name="w3all_displayonlyfirstpost[rep_content]" rows="5" cols="45">{W3ALL_DISPLAYONLYFIRSTPOST_REP_CONTENT}</textarea></label></dd>
    </dl>    

  </fieldset>

  <fieldset class="submit-buttons">
    <input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />
    {{ S_FORM_TOKEN }}
  </fieldset>

</form>

{% include 'overall_footer.html' %}
